/*User popout*/
.userPopout-2j1gM4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)) , var(--loop-gif2) 50% 50%/cover !important;
  border-color: rgb(var(--Neon-Rgb)) !important;
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb)) !important;
}
/*Add more roles popout after clicking the +*/
.container-2O1UgZ {
  background: black !important;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}

/*Server name color*/
.name-3Uvkvr {
  color: var(--Main-Color);
}

/*Guilds unread & mentioned popouts*/
/*Unread*/
.unread-2wipsx {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)) , var(--loop-gif) 50% 50%/cover !important;
  opacity: .9;
  border: solid 2px var(--Secondary-Color);
  border-radius: 15px; 
}
/*Metioned*/
.mention-3XBnnZ {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)) , var(--loop-gif4) 50% 50%/cover !important;
  opacity: .9;
  border: solid 2px var(--Secondary-Color);
  border-radius: 15px; 
}

/*Guild folders*/
.expandedFolderBackground-1kSAf6 {
  position: absolute;
  top: 0px;
  left: 9.5px;
  bottom: 0px;
  width: 50px;
  border-radius: 20px;
  background: var(--Black);
  border: solid 2px var(--Secondary-Color);
}
/*Closed guilds folder blur effect*/
.closedFolderIconWrapper-3tRb2d {
  filter: blur(3px);
}
/*Guild info popout when hover (Thanks Disease)*/
.tooltip-14MtrL {
  background: var(--Black) !important;
  border: var(--border1) !important;
  border-radius: 15px;
}

/*Guild Roles*/
/*Default permissions*/
.container-_phMUq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: var(--Main-Color);
  border-radius: 0px;
  padding: 16px 24px 16px 16px;
  cursor: pointer;
}
.container-_phMUq:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--Black-Color);
  color: var(--Main-Color);
  border-radius: 0px;
  padding: 16px 24px 16px 16px;
  cursor: pointer;
}
/* Search Roles */
.container-cMG81i {
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}
/*Roles Column Margins*/
.rolesList-3uZoaa {
  margin-bottom: 20px;
}
/*Roles margin left-right*/
.role-2TIOKu {
  font-size: 12px;
  font-weight: 500;
  background: var(--background-secondary-alt);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  margin: 0 4px 4px 0;
  padding: 4px;
  margin-right: 200px;
}
/*Roles card in guilds*/
.userPopout-2j1gM4 {
  -webkit-box-shadow: var(--elevation-high);
  box-shadow: var(--elevation-high);
  background-color: var(--background-floating);
  border-radius: 8px;
  border-color: var(--Main-Color);
  overflow: hidden;
  max-height: calc(100vh - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*+ add roles popout*/
.container-2O1UgZ {
  width: 250px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  background-color: var(--Black);
  border: var(--border1);
}

/*Unread message bar "X+ new messages since XX:XXPM/AM" color and background*/
.newMessagesBar-1hF-9G {
  border: var(--border1);
  background: black !important;
}

/* #################### Server boost tab #################### */
/*background*/
.theme-dark .perksModal-CLcR1c {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)) , var(--master-background) 50% 50%/cover !important;
  background-color: transparent;
}

/*Everything below "server boost" text*/
/*gift icon from "gift nitro"*/
.theme-dark .giftIcon-2kmx1K {
  color: var(--Main-Color);
}

/*Server boost icon "no boosts"*/
.theme-dark .badgeIconWithoutSubscribers-1hjTfX {
  color: var(--Main-Color);
}
/*Server boost icon "X boosts"*/
.badgeIconWithSubscribers-2WYJsQ {
  color: var(--Main-Color);
}

/*Progress bar stable*/
.barForeground-2kwBa_ {
  background-color: var(--Main-Color);
}
/*Progress bar when hover on a tier level*/
.barSecondary-VouwoY {
  background-color: var(--Third-Color);
}

/*Tiers*/
.theme-dark .tierMarkerBackground-G8FoN4 {
  background-color: var(--Third-Color);
}

/*"Get cool rewards for becoming a Booster!" the 3 cards below*/
.perks-BtAudq {
  background: transparent;
}
.theme-dark .perk-19D_HN {
  background-color: transparent;
}
/*Text Color*/
.text-sm-medium-3Pz3rB, .text-sm-normal-3Zj3Iv {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  color: var(--Secondary-Color) !important;
}

/*"Ready to boost?" card from below*/
.wrapper-3Zq_cJ {
  background: transparent;
  color: var(--Main-Color);
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}
/*"Learn more about discord nitro button" color and background*/
/*normal*/
.lookInverted-2mDUMi.colorBrand-I6CyqQ {
  color: var(--Secondary-Color);
  background-color: transparent;
  border-color: rgb(var(--Neon-Rgb)) !important;
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb)) !important;
}
/*hover*/
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
  color: var(--Main-Color);
  background-color: transparent;
  border-color: rgb(var(--Neon-Rgb)) !important;
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb)) !important;
}