/*Friends tab*/
/*Main container background*/
.theme-dark .container-2cd8Mz {
  background-color: transparent !important;
}

/*Activity cards background "In a voice channel"*/
.theme-dark .inset-SbsSFp {
  background-color: var(--Cards-Background-Color) !important;
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--Cards-Background-Color) !important;
}

/*It's quiet from now message*/
.emptyCard-KDifrB {
  background: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  color: var(--Main-Color) !important;
}

/*Message, more options for friends*/
/*Stable*/
.actionButton-3-B2x- {
  color: var(--Main-Color) !important;
  background-color: transparent !important;
}
/*Hover*/
.actionButton-3-B2x-:hover {
  color: var(--Secondary-Color);
  background-color: transparent !important;
}

/*Search icon from search section*/
.medium-2NClDM .iconContainer-6pgShY {
  width: 20px;
  height: 20px;
  color: var(--Main-Color) !important;
}

/*Friends and Nitro Icons Colors*/
.linkButtonIcon-7rsZcu {
  width: 24px;
  height: 24px;
  color: var(--Main-Color) !important;
}

/*Active now Text Color*/
.header-Imy05m {
  font-family: var(--font-display);
  margin: 8px 0 16px;
  font-weight: 700;
  color: var(--Main-Color) !important;
}

/*Online Tab Text Color*/
.title-x4dI75 {
  margin: 16px 20px 8px 30px;
  color: var(--Main-Color) !important;
}
/*Online friends card*/
/*Name and status color*/
.text-3j8t_e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  color: var(--Secondary-Color);
}
/*Card*/
.listItemContents-2n2Uy9 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 100%;
  border-color: rgb(var(--Neon-Rgb)) !important;
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb)) !important;
}

/*Add friend tab*/
/*Stable*/
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1 {
  background-color: transparent;
  color: var(--Third-Color);
}
/*Hover*/
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1, .tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1:hover {
  background-color: transparent;
  color: var(--Secondary-Color);
}
/*Selected*/
.tabBar-ra-EuL .addFriend-emTWY1.addFriend-emTWY1.addFriend-emTWY1[aria-selected=true] {
  background-color: transparent;
  color: var(--Main-Color);
}

/*Direct Messages Text Color*/
.headerText-1qIDDT {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--Main-Color) !important;
}

/*Friends & Nitro Text Color*/
.name-2m3Cms {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  color: var(--Main-Color) !important;
}

/*Friends Text Color*/
.title-17SveM {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
  color: var(--Main-Color) !important;
}

/*Find or start a conversation Text Color*/
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  width: 100%;
  height: 28px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--background-tertiary);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  color: var(--Main-Color) !important;
}