/*In guild channels*/
/*Mentioned background (the yellow name)*/
.mentioned-Tre-dv {
  position: relative;
  background-color: var(--background-primary);
}
.mentioned-Tre-dv:before {
  background-color: var(--background-primary);
}

/*Unread mentioned badge after channel in guild*/
.mentionsBadge-3H1BKJ {
  pointer-events: none;
}
.numberBadge-37OJ3S base-3IDx3L baseShapeRound-3epLEv children-1MGS9G {
  background-color: black !important;
  width: 16px;
}
.base-3IDx3L {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--Main-Color) !important;
  background-color: var(--Color-4) !important;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.mentionsBadge-3H1BKJ .iconBase-2RQsdz {
  color: var(--Main-Color) !important;
  background-color: var(--Color-4) !important;
}