/*In guild channels*/
/*Mentioned background (the yellow name)*/
.mentioned-Tre-dv {
  position: relative;
  background-color: var(--background-primary);
}
.mentioned-Tre-dv:before {
  background-color: var(--background-primary);
}

/*Unread mentioned badge after channel in guild*/
.mentionsBadge-3H1BKJ {
  pointer-events: none;
}
.numberBadge-37OJ3S base-3IDx3L baseShapeRound-3epLEv children-1MGS9G {
  background-color: black !important;
  width: 16px;
}
