/*
Border color full script
  border-color: rgb(var(--Neon-Rgb)) !important;
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb)) !important;
*/

/*
Color corrections
Stable = Third Color                -
Hover = Secondary Color             :hover
Selected = Main Color               [aria-selected=true]
*/

/*
Remove underline from text
text-decoration: none;
*/

/*
Nice fade background color
background-color: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,.06);
*/