/* Messages Slide In Chat */
@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0px);
  }
}
.message-2CShn3 {
animation: slide-up 0.5s ease;
}

/*Rounded Context Popouts*/
.menu-1QACrS, .colorDefault-CDqZdO { 
  border-radius: 15px; 
}