/*Rounded Context Popouts (by Lonk#6942)*/
.menu-1QACrS, .colorDefault-CDqZdO { 
  border-radius: 15px; 
}

/*Messages Slide In Chat (by Lonk#6942)*/
@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0px);
  }
}
.message-2CShn3 {
animation: slide-up 0.5s ease;
}

/*Blur spolier text instead of hiding it (by rye.#3861)*/
.spoilerText-27bIiA,
.spoilerText-27bIiA.hidden-3B-Rum {
  background-color: transparent !important;
}
.spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
  opacity: 1 !important;
  filter: blur(3px);
  pointer-events: unset;
}