/*Idle status color to white status color*/
.status-2DiCMd {
  width: 100%;
  height: 100%;
  background-color: var(--Black-Color) !important;
}
.pointerEvents-9SZWKj {
  pointer-events: auto;
  background-color: rgb(0,0,0) !important;
  color: rgb(0,0,0) !important;
}
