/*Sidebar > Category headers ("Guild name", "Community", "User Management") colors*/
.header-2Kx1US {
  color: var(--Main-Color);
}
/*Sidebar > Sub-category colors*/
/*Default*/
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG {
  color: var(--Third-Color);
}
/*Hover*/
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  background-color: transparent;
  color: var(--Secondary-Color);
}
/*When sub-category selected > border and color*/
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG[aria-selected=true] {
  color: var(--Main-Color);
  border-left: 0px;
}

/*Server boost status color text and background*/
.serverBoostTabItem-3QwA3W[aria-selected=true] {
  background-color: transparent !important;
  color: var(--Main-Color) !important;
  border-left: 2px solid var(--Main-Color) !important;
}

/*All buttons*/
.container-2nx-BQ {
  opacity: 0.3;
  background-color: var(--Secondary-Color) !important;
}

/* #################### Overview #################### */
/*All spacers*/
.theme-dark .divider--oiTeJ {
  border-color: var(--Third-Color);
}

/*Server overview*/
.defaultColor-2cKwKo {
  color: var(--Main-Color);
}

/*All titles ("Server name", "Inactive channel", "Inactive timeout", "System message channel", "Default notification settings", "Server banned background lvl2", "Server invite background lvl1")*/
.h5-2RwDNl {
  color: var(--Main-Color);
}

/*All disabled dropdowns*/
.select-1Ia3hD, .wrapper-1b33hy {
  color: var(--Secondary-Color);
}

/*All sub dropdowns*/
.colorStandard-21JIj7 {
  color: var(--Secondary-Color);
}

/*Remove button under the photo*/
.removeButton-2apMfV {
  color: var(--Main-Color);
}
.removeButton-2apMfV:hover {
  color: var(--Secondary-Color);
}

/*Photo description*/
.description-30xx7u, .labelDescriptor-34wZ-z {
  color: var(--White-Second);
}

/*Upload Image button*/
.theme-dark .lookOutlined-3yKVGo.colorPrimary-2AuQVo {
  color: var(--Main-Color);
  border-color: var(--border2);
  background-color: transparent !important;
}
.theme-dark .lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover {
  color: var(--Secondary-Color);
  border-color: var(--border3);
  background-color: transparent !important;
}

/*System messages channel disabled messages*/
.title-2dsDLn {
  color: var(--Secondary-Color);
}

/*Default notification settings, circle buttons*/
.radioIconForeground-2BMavi {
  color: var(--Secondary-Color);
}
/*"All messages", "Only @mentions" text color*/
.title-1yyp9V {
  color: var(--Secondary-Color);
}

/*Display > Show boost progress bar*/
.colorInteractiveActive-30E9n8 {
  color: var(--Secondary-Color);
}

/*"Server banner background", "Server invite background", "Unlock with boosting" buttons color*/
/*Normal*/
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  color: var(--Main-Color);
  background-color: var(--Third-Color);
}
/*Hover*/
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
  color: var(--Secondary-Color);
  background-color: var(--Color-4);
}

/* #################### Roles #################### */
/*The descriptions under "Roles", "Search Roles"*/
.colorHeaderSecondary-g5teka {
  color: var(--Secondary-Color);
}
/*Default Permissions, icon and description*/
.icon-2DGsye {
  color: var(--Secondary-Color);
}
/*"Default permissions" text*/
.label-2Pe5f1 {
  color: var(--Secondary-Color);
}
/*"@everyone * applies to all server members" text*/
.size12-oc4dx4 {
  color: var(--Secondary-Color);
}

/*The arrow icon*/
.arrow-2v2Yl2 {
  color: var(--Secondary-Color);
}

/*Search roles input*/
.input-2m5SfJ {
  color: var(--Secondary-Color);
}

/*Create role button*/
/*Normal*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  color: var(--Main-Color);
  background-color: transparent !important;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}
/*Hover*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  color: var(--Secondary-Color);
  background-color: transparent !important;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}

/* ########## Roles > Default permissions tab ########## */
/*Back button*/
/*Normal*/
.title-JU0E7C {
  color: var(--Main-Color);
}
/*Hover*/
.title-JU0E7C:hover {
  color: var(--Secondary-Color);
}

/*Create new role "+" icon*/
.addRole-viKZpC {
  color: var(--Main-Color);
}

/*The container for edit role, display, permissions, manager members, edit role and the 3 dots*/
.header-JUTO-g {
  background-color: var(--Black);
}

/*Edit role <role-name>*/
.titleText-35PD5k {
  color: var(--Main-Color);
}

/*The 3 dots, the menu*/
.menu-2p630X {
  color: var(--Main-Color);
}

/*Role icon > Choose image button*/
/*Normal*/
.lookOutlined-3yKVGo.colorWhite-1H92hK {
  color: var(--Main-Color);
  border: var(--border2);
}
.lookOutlined-3yKVGo.colorWhite-1H92hK:hover {
  color: var(--Secondary-Color);
  border: var(--border3);
}

/*View server as role button*/
/*Normal*/
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
  color: var(--Main-Color);
  background-color: transparent !important;
  border: var(--border2);
}
/*Hover*/
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
  color: var(--Secondary-Color);
  background-color: transparent !important;
  border: var(--border3);
}

/* #################### Stickers tab #################### */
/*Get boosted card background*/
.upsellContainer-22N_CL {
  background-color: transparent !important;
  background: transparent !important;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}
/*Get boosted card description under "Get boosted"*/
.upsellDescription-2O_p3B {
 color: var(--White-Second);
}
/*Both buttons backgrounds*/
/*normal*/
.lookFilled-yCfaCM.colorWhite-1H92hK {
  background-color: transparent;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}
/*hover*/
.lookFilled-yCfaCM.colorWhite-1H92hK:hover {
  background-color: var(--Third-Color);
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}

/*Level cards (1,2,3)*/
/*border*/
.tier-3CS7-p {
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}
/*top tier header*/
.theme-dark .tierHeaderLocked-30MLlO {
  background-color: transparent;
}
/*second tier body (middle)*/
.theme-dark .tierBody-1d3UiS {
  background-color: transparent;
}

/* #################### Widgets tab #################### */
.theme-dark .copyInputDefault-3jiMHw {
  background-color: transparent;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}

/* #################### Community tab #################### */
/*"Are you building a community?" text colors*/
.wrapper-1HSdhi {
  margin: 0;
  color: var(--Main-Color);
}
/*"Grow your community", "Keep members engaged", "Stay informed" text colors*/
.base-21yXnu {
  font-weight: 600;
  font-family: var(--font-display);
  color: var(--Main-Color);
}
/*"Disable community" button*/
/*background*/
/*normal*/
.lookFilled-yCfaCM.colorRed-rQXKgM {
  background-color: transparent;
  border-color: rgb(var(--Neon-Rgb));
  box-shadow: inset 0px 0px 5px 1px rgb(var(--Neon-Rgb)), 0px 0px 15px 4px rgb(var(--Neon-Rgb));
}
/*text normal*/
.contents-3ca1mk {
  color: var(--Main-Color) !important;
}
/*background hover*/
.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
  background-color: var(--Main-Color);
}
/*text hover*/
.contents-3ca1mk:hover {
  color: var(--White) !important;
}

/* #################### Members tab #################### */
/*"Display role" text color*/
.quickSelectLabel-ArUyd9 {
  color: var(--Main-Color);
}
/*"@everyone" text color*/
.quickSelectValue-rmtkbe {
  margin-left: 4px;
  color: var(--Main-Color);
}
