div[class*="typeWindows-"]::after {
  content: '🔮ANOTHER ETERNITY🔮 @ALPHA V0.5';
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0 15px;
  z-index: -1;
  width: 100%;
  height: 20px;
  background: transparent;
  color: var(--Main-Color);
}
